* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
:root {
  --greenria: #1c7869;
}

body,
input,
textarea {
  font-family: "Open Sans", sans-serif;
}

/*Navbar////////////////////////////////////////////////////////////////////////////////*/
nav {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 10vh;
  background-color: rgba(0, 0, 0, 0.75);
  font-weight: bold;
  padding: 10px;
}

#logo {
  max-width: 40%;
  margin-top: 1px;
  display: flex;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 50%;
}
.nav-links li {
  list-style: none;
}

.nav-links a {
  color: whitesmoke;
  text-decoration: none;
  letter-spacing: 1.5px;
  font-size: 13px;
  position: relative;
  transition: all ease-in-out 250ms;
}

.nav-links li a.inactive::after {
  content: "";
  position: absolute;
  display: block;
  height: 0.3em;
  width: 0%;
  background-color: var(--greenria);
  bottom: -0.5em;
  transition: all ease-in-out 250ms;
}

.nav-links li a:hover::after {
  width: 100%;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: whitesmoke;
  margin: 5px;
}

.burger {
  display: none;
  cursor: pointer;
}

.nav-active {
  transform: translateX(0%);
}

/* Style the active/current link */
.nav-links li a.active {
  background-color: var(--greenria);
  color: white;
  padding: 15px;
  border-radius: 5%;
}

/*slider////////////////////////////////////////////////////////////////////////////////*/

#slider {
  overflow: hidden;
  margin: 4px;
}

#slider figure {
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  animation: 20s slider infinite;
}

#slider figure img {
  width: 20%;
  float: left;
}

@keyframes slider {
  0% {
    left: 0;
  }
  20% {
    left: 0;
  }
  25% {
    left: -100%;
  }
  45% {
    left: -100%;
  }
  50% {
    left: -200%;
  }
  70% {
    left: -200%;
  }
  75% {
    left: -300%;
  }
  95% {
    left: -300%;
  }
  100% {
    left: -400%;
  }
}

/* typesofvideo Section 
======================================================================================================*/

#typesofvideo {
  position: relative;
}

.type-title {
  font-size: 1.5rem;
}

.type-box {
  padding: 4.5%;
}

.icon {
  color: var(--greenria);
  margin-bottom: 1rem;
  transition: all ease-in-out 250ms;
}

.icon:hover {
  color: #17d1b3;
}

/*Call-to-action session
==================================================================*/

.call-to-action {
  background-color: var(--greenria);
  height: 250px;
  display: flex;
}

.green-box {
  margin: auto;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.green-box h3 {
  color: whitesmoke;
  padding: 60px 0 20px;
}

.green-box a {
  padding-bottom: 20px;
}

.green-box .content {
  align-items: center;
  justify-content: center;
}

.button {
  display: inline-block;
  margin-bottom: 15px;
  padding: 10px 15px;
  outline: none;
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
  background-color: transparent;
  color: #fff;
  vertical-align: baseline;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 11px;
  line-height: 1em;
  cursor: pointer;

  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
.button.middle {
  padding: 14px 20px;
  font-size: 14px;

  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.button.white {
  border-color: #fff;
  background-color: #fff;
  color: var(--greenria);
}

.button.white:hover {
  color: #fff;
  background-color: transparent;
  text-decoration: none;
}

/* -------------------------------------------------- */
/* Section Title
		/* -------------------------------------------------- */

.section-title {
  position: relative;
  overflow: hidden;
  margin-bottom: 50px;
  text-align: center;
  padding-top: 50px;
}

.section-title * {
  position: relative;
  display: inline-block;
  margin-bottom: 0;
  padding: 20 45px;
  font-weight: 300;
  line-height: 1.3em;
}

.section-title h3 {
  color: #777;
}

.section-title *:after,
.section-title *:before {
  position: absolute;
  top: 50%;
  width: 300%;
  height: 1px;
  background-color: #ebebeb;
  content: "";
}

.section-title *:after {
  right: -300%;
}
.section-title *:before {
  left: -300%;
}

.video-container {
  /*display:flex;
  justify-content: center;
  padding: 30px;
  flex-wrap: wrap;*/
  margin: 0.5vw;
  font-size: 0;
  display: -ms-flexbox;
  -ms-flexbox-wrap: wrap;
  -ms-flexbox-direction: column;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  display: -webkit-box;
  display: flex;
}

.video-container #iframe-wrapper {
  -webkit-box-flex: auto;
  -ms-flex: auto;
  flex: auto;
  width: 200px;
  margin: 0.5vw;
}

/* ---------------------------------------------------------------------- */
/*	ABOUT US
/* ---------------------------------------------------------------------- */

/* Team
==========================================================================*/

.team-entry-image img {
  display: block;
}

.team-entry-title {
  margin-bottom: 0;
  font-weight: 600;
  line-height: 1em;
}

.team-position {
  text-transform: uppercase;
  color: #aaa;
  font-weight: 400;
  font-size: 12px;
}

.team-image {
  padding-bottom: 10px;
  width: 350px;
  height: auto;
}

/* Video
==========================================================================*/

video {
  width: 100%;
  height: auto;
}

/* ---------------------------------------------------------------------- */
/*	Portfolio
/* ---------------------------------------------------------------------- */


.gallery {
  transition: all .2s cubic-bezier(0.34, 1.12, 0.68, 1.31);
  min-height: 100vh;
  padding-bottom: 100px;

}

.gallery .filter-container .portfolio-filter {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px 0;
  list-style: none;

}

.gallery .filter-container .portfolio-filter .filter {
  height: 40px;
  width: 140px;
  background-color:#fff;
  color: rgba(0, 0, 0, 0.75);
  padding: 8px 14px;
  box-shadow: rgba(0, 0, 0, 0.75);
  font-size: 15px;
  line-height: 40px;
  cursor: pointer;
  margin:5px;
  text-align: center;
  text-decoration: none;

}

.gallery .filter-container .portfolio-filter .filter.active {
  background-color: var(--greenria);
  color: #fff;
}


.gallery .image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.gallery .image-container .image {
  height:250px;
  width: 350px;
  overflow: hidden;
  margin: 20px;
  border:15px solid #fff;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.35);
}

.gallery .image-container .image img, iframe {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.gallery .image-container .image:hover iframe {
  transform: scale(1.4);
}
.gallery .image-container .image:hover img {
  transform: scale(1.4);
}

.filter .active {
  background-color: #1c7869;
  color: #fff;
}

/* ---------------------------------------------------------------------- */
/*	Services
/* ---------------------------------------------------------------------- */

.services-table { 
  background: #fff; 
  font: 400 1em/1.4; 
  color: #333; 
  text-align: center; 
  padding: 4em 2em; 
}

.services-table h1 + p { 
  font-size: 1.5em; 
  color: #999; 
  max-width: 30em; 
  margin: 0 auto 3em; 
}

.services-table h1 { 
  font-weight: 200; 
  font-size: 5em; 
  line-height: 1.35; 
  margin: 0 0 .125em; 
}

/* Table
=========================================================================*/

.services-table { 
  background: #fff; 
  color: #333; 
  text-align: center; 
  padding: 4em 2em; 
}

table { 
  width: 100%; 
  text-align: left; 
  border-color: #333;
  border-spacing: 0; 
  border-collapse: collapse; 
  -webkit-box-sizing: border-box; 
  -moz-box-sizing: border-box; 
  box-sizing: border-box; 
}

th, td { 
  font-family: inherit; 
  font-size: .875em; 
  line-height: 1.45; 
  border-color: #fff;
  color: #444; 
  vertical-align: middle; 
  padding: 1em; 
}

th { 
  font-weight: 600; 
}

th p {
  color: #fff;
}

colgroup:nth-child(1) { width: 31%; border: 0 none; }
colgroup:nth-child(2) { width: 22%; border: 1px solid #ccc; }
colgroup:nth-child(3) { width: 25%; border: 10px solid var(--greenria); }
colgroup:nth-child(4) { width: 22%; border: 1px solid #ccc; }

/* Tablehead */

thead th { 
  background-color: #50b3a3; 
  text-align: center; 
  position: relative; 
  border-bottom: 1px solid #ccc; 
  padding: 3em 0 2em; 
  font-weight: 400; 
  color: #999; 
}


thead th:nth-child(1) { 
  background: transparent;  
}

thead th:nth-child(3) {  
  padding: 2em 0 5em; 
}

thead th h2 
{ font-weight: 300; 
  font-size: 2.4em; 
  line-height: 1.2; 
  color:#fff; 
}

thead th h2 + p { 
  font-size: 1.25em; 
  line-height: 1.4; 
}

thead th:nth-child(3) h2 { 
  font-size: 3.6em; 
}

thead th:nth-child(3) h2 + p { 
  font-size: 1.5em; 
}


thead th p.promo { 
  font-size: 1em; 
  color: #fff; 
  position: absolute; 
  top: 10em; 
  left:-15px;
  z-index: 1000; 
  width: 110%; 
  margin: 0; 
  padding: .625em 40px .75em; 
  background: #c00; 
  box-shadow: 0 2px 4px rgba(0,0,0,.25); 
  border-bottom: 1px solid #900; 
}

thead th p.promo:before { 
  content: ""; 
  position: absolute; 
  display: block; 
  width: 0px; 
  height: 0px; 
  border-style: solid; 
  border-width: 0 7px 7px 0; 
  border-color: transparent #900 transparent transparent; 
  bottom: -7px; 
  left: 0; 
}

thead th p.promo:after { 
  content: ""; 
  position: absolute; 
  display: block; 
  width: 0px; 
  height: 0px; 
  border-style: solid; 
  border-width: 7px 7px 0 0; 
  border-color: #900 transparent transparent transparent; 
  bottom: -7px; 
  right: 0; 
}

/* Tablebody */

tbody th { 
  background: #fff; 
  border-left: 1px solid #ccc; 
}

tbody th span { 
  font-weight: normal; 
  font-size: 87.5%; 
  color: #999; 
  display: block; 
}

tbody td { 
  background: #fff; 
  text-align: center; 
}

tbody tr:nth-child(even) th,
tbody tr:nth-child(even) td { 
  background: #f5f5f5; 
  border: 1px solid #ccc; 
  border-width: 1px 0 1px 1px; 

}

tbody tr:hover td {
  background-color: #a5e1ad;

}

tbody tr:last-child td { 
  border-bottom: 0 none; 
}


/* Tablefooter */

tfoot th  { 

  padding: 2em 1em; 
  border-top: 1px solid #ccc; 
}

tfoot td  { 
  text-align: center; 
  padding: 2em 1em; 
  border-top: 1px solid #ccc; 
}

tfoot a  { 
  font-weight: bold; 
  color: #fff; 
  text-decoration: none; 
  text-transform: uppercase; 
  display: block; 
  padding: 1.125em 2em; 
  background: var(--greenria);
  border-radius: .5em; 
  

}


/* Contact form style
=========================================================================*/


.container-form {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 2rem;
  background-color: #fafafa;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form {
  width: 100%;
  max-width: 820px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.1);
  z-index: 0;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.contact-form {
  background-color: #1abc9c;
  position: relative;
}

.circle {
  border-radius: 50%;
  background: linear-gradient(135deg, transparent 20%, #149279);
  position: absolute;
}

.circle.one {
  width: 130px;
  height: 130px;
  top: 130px;
  right: -40px;
}

.circle.two {
  width: 80px;
  height: 80px;
  top: 10px;
  right: 30px;
}

.contact-form:before {
  content: "";
  position: absolute;
  width: 26px;
  height: 26px;
  background-color: var(--greenria);
  transform: rotate(45deg);
  top: 50px;
  left: -13px;
}

form {
  padding: 2.3rem 2.2rem;
  z-index: 10;
  overflow: hidden;
  position: relative;
}

.title {
  color: #fff;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1;
  margin-bottom: 0.7rem;
}

.input-container {
  position: relative;
  margin: 1rem 0;
}

.input {
  width: 100%;
  outline: none;
  border: 2px solid #fafafa;
  background: none;
  padding: 0.6rem 1.2rem;
  color: #fff;
  font-weight: 500;
  font-size: 0.95rem;
  letter-spacing: 0.5px;
  border-radius: 25px;
  transition: 0.3s;
}

textarea.input {
  padding: 0.8rem 1.2rem;
  min-height: 150px;
  border-radius: 22px;
  resize: none;
  overflow-y: auto;
}

.input-container label {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  padding: 0 0.4rem;
  color: #fafafa;
  font-size: 0.9rem;
  font-weight: 400;
  pointer-events: none;
  z-index: 1000;
  transition: 0.5s;
}

.input-container.textarea label {
  top: 1rem;
  transform: translateY(0);
}

.btn {
  padding: 0.6rem 1.3rem;
  background-color: #fff;
  border: 2px solid #fafafa;
  font-size: 0.95rem;
  color: var(--greenria);
  line-height: 1;
  border-radius: 25px;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  margin: 0;
}

.btn:hover {
  background-color: transparent;
  color: #fff;
}

.input-container span {
  position: absolute;
  top: 0;
  left: 25px;
  transform: translateY(-50%);
  font-size: 0.8rem;
  padding: 0 0.4rem;
  color: transparent;
  pointer-events: none;
  z-index: 500;
}

.input-container span:before,
.input-container span:after {
  content: "";
  position: absolute;
  width: 10%;
  opacity: 0;
  transition: 0.3s;
  height: 5px;
  background-color: #1abc9c;
  top: 50%;
  transform: translateY(-50%);
}

.input-container span:before {
  left: 50%;
}

.input-container span:after {
  right: 50%;
}

.input-container.focus label {
  top: 0;
  transform: translateY(-50%);
  left: 25px;
  font-size: 0.8rem;
}

.input-container.focus span:before,
.input-container.focus span:after {
  width: 50%;
  opacity: 1;
}

.contact-info {
  padding: 2.3rem 2.2rem;
  position: relative;
}

.contact-info .title {
  color: var(--greenria);
}

.text {
  color: #333;
  margin: 1.5rem 0 2rem 0;
}

.information {
  display: flex;
  color: #555;
  margin: 0.7rem 0;
  align-items: center;
  font-size: 0.95rem;
}

.icon {
  width: 28px;
  margin-right: 0.7rem;
}

.social-media {
  padding: 2rem 0 0 0;
}

.social-media p {
  color: #333;
}

.social-icons {
  display: flex;
  margin-top: 0.5rem;
}

.social-icons a {
  width: 35px;
  height: 35px;
  border-radius: 5px;
  background: linear-gradient(45deg, #1abc9c, #149279);
  color: #fff;
  text-align: center;
  line-height: 35px;
  margin-right: 0.5rem;
  transition: 0.3s;
}

.social-icons a:hover {
  transform: scale(1.05);
}

.contact-info:before {
  content: "";
  position: absolute;
  width: 110px;
  height: 100px;
  border: 22px solid #1abc9c;
  border-radius: 50%;
  bottom: -77px;
  right: 50px;
  opacity: 0.3;
}

.big-circle {
  position: absolute;
  width: 500px;
  height: 500px;
  border-radius: 50%;
  background: linear-gradient(to bottom, #1cd4af, var(--greenria));
  bottom: 50%;
  right: 50%;
  transform: translate(-40%, 38%);
}

.big-circle:after {
  content: "";
  position: absolute;
  width: 360px;
  height: 360px;
  background-color: #fafafa;
  border-radius: 50%;
  top: calc(50% - 180px);
  left: calc(50% - 180px);
}

.square {
  position: absolute;
  height: 400px;
  top: 50%;
  left: 50%;
  transform: translate(181%, 11%);
  opacity: 0.2;
}

/*Footer
==================================================================================*/
.bottom-footer {
  padding: 33px 0;
  margin-top: 80px;
  background-color: rgba(0, 0, 0, 0.75);
  position: relative;
}

.copyright1 {
  text-align: center;
  vertical-align: middle;
  color: whitesmoke;
}

/*Queries 
===================================================================================*/

@media screen and (max-width: 1024px) {
  .nav-links {
    display: flex;
    justify-content: space-around;
    width: 80%;
  }

  .nav-links a {
    color: whitesmoke;
    text-decoration: none;
    letter-spacing: 1px;
    font-size: 12px;
    position: relative;
    transition: all ease-in-out 250ms;
  }
}

@media screen and (max-width: 850px) {
  body {
    overflow-x: hidden;
  }

  .nav-links {
    position: absolute;
    right: 0;
    height: 90vh;
    top: 10vh;
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
    width: 50%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
    opacity: 100%;
  }

  .nav-links li {
    opacity: 0;
  }

  .burger {
    display: block;
  }

  colgroup:nth-child(1) { 
    width: 0%; 
    border: 0 none; 
  }


  .form {
    grid-template-columns: 1fr;
  }

  .contact-info:before {
    bottom: initial;
    top: -75px;
    right: 65px;
    transform: scale(0.95);
  }

  .contact-form:before {
    top: -13px;
    left: initial;
    right: 70px;
  }

  .square {
    transform: translate(140%, 43%);
    height: 350px;
  }

  .big-circle {
    bottom: 75%;
    transform: scale(0.9) translate(-40%, 30%);
    right: 50%;
  }

  .text {
    margin: 1rem 0 1.5rem 0;
  }

  .social-media {
    padding: 1.5rem 0 0 0;
  }
}

@media screen and (max-width: 550px) {
  .nav-links {
    position: absolute;
    right: 0;
    height: 92vh;
    top: 10vh;
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
    width: 50%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }

  .container-form {
    padding: 1.5rem;
  }

  .contact-info:before {
    display: none;
  }

  .square,
  .big-circle {
    display: none;
  }

  form,
  .contact-info {
    padding: 1.7rem 1.6rem;
  }

  .text,
  .information,
  .social-media p {
    font-size: 0.8rem;
  }

  .title {
    font-size: 1.15rem;
  }

  .social-icons a {
    width: 30px;
    height: 30px;
    line-height: 30px;
  }

  .icon {
    width: 23px;
  }

  .input {
    padding: 0.45rem 1.2rem;
  }

  .btn {
    padding: 0.45rem 1.2rem;
  }

  
}

.nav-active {
  transform: translateX(0%);
  /*background-color: rgba(0, 0, 0, 0.75);*/
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
