*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
  }
  
  :root {
    --greenria: #1c7869;
  }
  
  body{
    font-family: 'Open Sans', sans-serif;
  }
  
  nav {
    display: flex;
    justify-content:center;
    align-items: center;
    min-height:10vh;
    background-color:rgba(0, 0, 0, .75);
    font-weight: bold;

    
  .logo {
    max-width: 35%;
    margin-top: 2px;
    display: flex;
    
  }
  .nav-links {
    display: flex;
    justify-content: space-around;
    width: 30%;
  }
  .nav-links li{
    list-style: none;
  }
  
  .nav-links a {
    color:whitesmoke;
    text-decoration: none;
    letter-spacing: 2px;
    font-size: 14px;
  
  }
  
  nav li a::after {
    content:"";
    position: absolute;
    display: block;
    height:0.4em;
    width: 100%;
    background-color: var(--greenria);
    bottom: -1em;
    }
  }
  